:root{
  --content-width: 1000px;
  --breakpoint: 799px;
  --nav-height: 60px;
  --dark-color: #23231A;
  --medium-color: #322F20;
  --light-color: #6A5837;
  --olive-color: #988F2A;
  --action-color: #FE5F00;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* background-color: aquamarine;*/
}

.banner {
  width: 75vw;
}

.banner img {
  width: inherit;
}

@media screen and (max-width: 799px){
  .banner{
    width: 100vw;
  }

  .container .card {
    width: 95vw;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.card {
  width: 75vw;
  background-color: #eee;
  border: solid 1px var(--medium-color);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 7px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 200px;
}

.card-content {
  margin-left: 7px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 4px 10px;
  margin: 5px;
  border: 1px solid var(--dark-color);
  border-radius: 5px ;
  font-weight: 600;
  cursor: pointer;
  color: var(--dark-color);
}

.btn:hover  {
  background: var(--dark-color);
  color: white;
}

.orange:hover {
  background: orangered;
  
} 

.orange {
  background-color: var(--action-color);
  color: white;
  border: 1px solid var(--action-color)
}