:root{
    --content-width: 1000px;
    --breakpoint: 799px;
    --nav-height: 60px;
    --dark-color: #23231A;
    --medium-color: #322F20;
    --light-color: #6A5837;
    --olive-color: #988F2A;
    --action-color: #FE5F00;
  }

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 26%;
    background-color: #D9D9D9;
    padding: 30px;
    min-width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    word-wrap: break-word;
    text-align: center;
}

.login {
    border: 2px solid var(--action-color);
    border-radius:6px;
    min-width: auto;
}

@media screen and (max-width: 799px) {
    .login {
        width: 80vw;
    }
}

.action-button {
    padding: 2px 10px;
    font-size: 1.0em;
    color: white;
    background-color: var(--action-color);
    border: 2px solid var(--action-color);
    transition: all 0.3s ease;
}

.action-button:hover{
    background-color: #BF4600;
    border: 2px solid #BF4600;
}