* {
    margin: 0;
    padding: 0;
}

.container {
    width: 26%;
    background-color: #D9D9D9;
    padding: 30px;
    min-width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    word-wrap: break-word;
    text-align: center;
}
